
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* text-decoration: none; */
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
    background: gainsboro;
}

/* ------------------------------------------------ HEADER */

header {
    display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	background: #430269;
}

header > nav {
	/* background-color: red;  */
	display: flex;
}
header > nav > ul {

	margin-left: 15px;
	/* margin: 10px; */
	/* background-color: rgb(21, 0, 255); */
}

header nav ul li {
	display: inline-block;
    width: 30px;
    height: 30px;
	margin-right: 20px;

    /* background-color: aqua; */
} 
.icon {
	width: 100%;
	height: 100%;
}
#logo-link {
	align-self: center;
}

#logo-image {
	height: 50px;
	width: 50px;
	margin-right: 16px;
	align-self: center;
}

/* ------------------------------------------------ MAIN */
main {
	position: relative;
	z-index: 0;
}

#map {
	height: calc(100vh - 65px);
	position: relative;
	z-index: 1;


}

#instructions {
	position: absolute;
	background-color: aliceblue;
	color: #430269;
	opacity: 90%;
	width: 15rem;
	height: 6rem;
	border-radius: 0.7rem;
	z-index: 2;
	top: 4rem;
	left: 2.9rem;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0 1rem;
	font-weight: 500;
}

#instructions::after {
	content: "";
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 25px solid aliceblue;
	position: absolute;
	bottom: -1.1rem;
	left: 3rem;

}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;

}

.leaflet-popup-content-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7702BC;
	color: white;
	opacity: 96%;

}

.modal{
	/* background-color: yellow; */
	margin: 0 auto;
	height: 500px;
	width: 305px;
	
}

.leaflet-container a.leaflet-popup-close-button {
	color: #0fe383;
	font-size: 30px ;
	right: 5px;
	top: 5px;
}

.leaflet-popup-tip {
	
	background-color:#7702BC;
}

.modalQuestion {
	padding: auto;
	margin-top: 2.5rem;
	height: 8rem;
	width: 90%;
	text-align: center;
	/* background-color: red; */
	margin: 20px auto;
}

.answers {
	margin-top: 30px;
	/* background-color: red; */
	/* margin: auto; */
	/* padding: auto; */
	align-items: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 4rem;
}

.answer {
	background-color: white;
	color: #430269;
	border-radius: 1.5em;
	height: 3.5rem;
	width: 100%;
	margin: 0.6rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	position: relative;
	text-align: center;
}

.choix {
	position: absolute;
	left: 0.5rem;
	border-radius: 50%;
	background-color: #430269;
	color: white;
	padding: 0.6rem;
	width: 2.2rem;
	height: 2.2rem;
	display: flex;
	justify-content: center;
}

.green {
	color: green;
}

.red {
	background-color: red;
}
#answerInsider{
	display: flex;
	/* background-color: red; */
	text-align: center;
	width: 80%;
	height: 90%;
	padding: 0 3px;
	margin-left: 43px;
	align-items: center;
	justify-content: center;

}

#timer {
	display: flex;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
	width: 7rem;
	height: 2.5rem;
	background-color:#0fe383;
	color: #430269;
	border-radius: 1rem;
	font-size: 2rem;
	display: none;
}

@media screen and (min-width: 768px) {
	.leaflet-popup-content-wrapper {
		width: 600px;
		background-color: #7702BC;
		display: flex;
	}

	.leaflet-container a.leaflet-popup-close-button {
		color: #0fe383;
		font-size: 50px ;
		right: 20px;
		top: 15px;
	}
	
	.leaflet-popup-tip {
		
		background-color:#7702BC;
	}
	.modal{
		/* background-color: yellow; */
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: -125px;
		height: 500px;
		width: 550px;
		/* background-color: pink; */
		
	}
	
	.modalQuestion {
		/* padding: auto; */
		/* margin-top: 2.5rem; */
		height: 8rem;
		width: 500px;
		text-align: center;
		/* background-color: #0fe383; */
	}
	
	.answers {
		margin-top: 30px;
		/* background-color: red; */
		align-items: center;
		
		display: grid;
		grid-template-columns: auto auto ;
		grid-template-rows: 100px 100px;
		
	}
	
	.answer {
		background-color: rgb(255, 255, 255);
		color: #430269;
		border-radius: 1.5em;
		height: 3.5rem;
		width: 260px;
		margin: 0.6rem 0;
		display: flex;
		/* justify-content: center; */
		align-items: center;
		font-weight: bold;
		position: relative;
		text-align: center;
	}
	
	
}