/* ------------------------------------------------ GENERAL */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

html, body {
	height: 100%;
}

/* ------------------------------------------------ HEADER */

header {
	background: #430269;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

nav {
	display: flex;
	align-items: center;
}

header nav ul {
	display: flex;
	align-content: center;
}

header nav ul li {
	margin-right: 25px;
}

.nav-icons {
	height: 30px;
	width: 30px;
}

#logo-link {
	align-self: center;
}

#logo-image {
	height: 50px;
	width: 50px;
	margin-top: 5px;
	align-self: center;
}

/* ------------------------------------------------ MAIN */

.city-background {
	background-image: url(../assets/background/lyon-background.svg);
	background-position: center;
	background-size: cover;
	height: 400px;
}

.WildQuiz-button-section {
	background: #430269;
	display: grid;
	justify-items: center;
	padding-bottom: 25px;
}

h2 {
	text-align: center;
	margin: 20px 0;
	color: white;
}

.play {
	background: #4CE384;
	height: 80px;
	width: 75%;
	color: #430269;
	border-radius: 20px;
	font-size: 2em;
	font-weight: bold;
	outline: none;
}

/* ------------------------------------------------ FOOTER */

footer {
	padding: 0 15px;
	background: black;
	display: flex;
	align-items: center;
}

footer a img {
	height: 48px;
	width: 48px;
}

/* ------------------------------------------------ FLEXIBILITY */

